<!DOCTYPE html>
<html>
<head>
<!-- Development (un-minified) -->
<script src="https://unpkg.com/@solana/web3.js@latest/lib/index.iife.js"></script>
<script src="https://bundle.run/buffer@6.0.3"></script>



</head>
<body>
    <form action="/users/connect" method="POST">
        <input type="submit" name="submit" id="submit">
    </form>

<form action="/users/sendCrypto" method="POST">
<input type="number" placeholder="Sol to send" id="quantity"/>
<input type="submit" name="submit" id="submit">
</form>
</body>
</html>